 <footer id="footer" class="p-0">
    <div class="container pt-6 pb-5">
      <div class="row">
        <div class="col-md-4">
          <!--@todo: replace with company contact details-->
          <h4 class="text-uppercase text-white title-divider">
            <span>
              Contact Us
            </span>
          </h4>
          <address>
            <ul class="list-unstyled">
              <li>
                <abbr title="Phone"><i class="fa fa-phone fa-fw"></i></abbr>
                (360) 734-5228
              </li>
              <li>
                <abbr title="Email"><i class="fa fa-envelope fa-fw"></i></abbr>
                <a href="mailto:office@scbiblechurch.org">office@scbiblechurch.org</a>
              </li>
              <li>
                <abbr title="Address"><i class="fa fa-home fa-fw"></i></abbr>
                <a href="https://www.google.com/maps/place/Spring+Creek+Bible+Church/@48.7950742,-122.4743295,17z/data=!4m12!1m6!3m5!1s0x5485a46a4dcdcd2b:0x911994b1205c703!2sSpring+Creek+Bible+Church!8m2!3d48.7950707!4d-122.4721355!3m4!1s0x5485a46a4dcdcd2b:0x911994b1205c703!8m2!3d48.7950707!4d-122.4721355">567 E Kellogg Rd, Bellingham WA 98226</a>
              </li>
              <li>
                <abbr title="Hours"><i class="fa fa-calendar fa-fw"></i></abbr>
                Office Hours: 9:00-5:00 (Tues-Fri)
              </li>
            </ul>
          </address>
        </div>
        
        <div class="col-md-4">
          <h4 class="text-uppercase text-white title-divider">
            <span>
              About Us
            </span>
          </h4>
          <p>We gather together to worship the Lord and strengthen one another with Bible-teaching and fellowship.</p>
          <p>We depart to live for Christ and share His gospel throughout the week.</p>
        </div>
        
        <div class="col-md-4">
          <h4 class="text-uppercase text-white title-divider">
            <span>
              Sermons
            </span>
          </h4>
          <p>Listen to <a href="attendees_sermons.html">sermons</a> at Spring Creek Bible Church.</p>
          <h4 class="text-uppercase text-white title-divider">
            <span>
              Giving
            </span>
          </h4>
          <p> Make online donations <a href="https://scbible.churchcenter.com/giving">here</a>.</p>
        </div>
      </div>
      
    </div>
    <hr class="my-0 hr-blank op-2" />
    <!--@todo: replace with company copyright details-->
    <div class="bg-inverse-dark text-sm py-3">
      <div class="container">
        <div class="row">
          <div class="">
            <!-- <p class="mb-0">Copyright 2018 &copy; Spring Creek Bible Church</p> -->
          </div>
          <div class="col-md-6">

          </div>
        </div>
      </div>
    </div>
  </footer>
