<div class="container py-4 py-lg-6">
  <div id="purpose" class="nav-anchor"></div>
  <!-- <a name="purpose" class="nav-anchor"></a> -->
  <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
  <h2 class="text-center text-uppercase font-weight-bold my-0">
    Our Purpose
  </h2>
  <h5 class="text-center font-weight-light mt-2 mb-0 text-muted">
    We gather together to worship the Lord and strengthen one another with Bible-teaching and fellowship. 
  </h5>
  <h5 class="text-center font-weight-light mt-2 mb-0 text-muted">
    We depart to live for Christ and share His Gospel throughout the week.
  </h5>
  <hr class="mb-5 w-50 mx-auto" />
  <div class="row text-center">
    <div class="col-lg-4 py-2">
      <a href="attendees_sermons.html"><i class="fa fa-microphone icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i></a>
      <h4 class="mt-2">
        Expository Preaching
      </h4>
      <p>We preach Christ through verse-by-verse exposition of the Bible (1 Cor 2:2).</p>
    </div>
    <div class="col-lg-4 py-2">
      <a href="about_distinctives.html"><i class="fa fa-book icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i></a>
      <h4 class="mt-2">
        Scripture
      </h4>
      <p>Our authority is the Bible which is God's inspired, inerrant, infallible Word (2 Tim 3:16).</p>
    </div>
    <div class="col-lg-4 py-2">
      <a href="https://scbible.churchcenter.com/calendar"><i class="fa fa-handshake-o icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.3"></i></a>
      <h4 class="mt-2">
        Love for One Another
      </h4>
      <p>We care for one another with the love of Christ (John 13:34).</p>
    </div>
    <div class="col-lg-4 py-2">
      <a href="ministries_corporate.html"><i class="fa fa-angle-double-up icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.4"></i></a>
      <h4 class="mt-2">
        Worship 
      </h4>
      <p>We gather together to glorify the eternal God through worship (Isaiah 6:3).</p>
    </div>
    <div class="col-lg-4 py-2">
      <a href="attendees_sermons.html"><i class="fa fa-angle-double-right icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.5"></i></a>
      <h4 class="mt-2">
        Grow
      </h4>
      <p>Through the ministry of the Word of God and fellowship, we seek to honor Christ with our lives (2 Cor 3:18).</p>
    </div>
    <div class="col-lg-4 py-2">
      <a href="ministries_local_outreach.html"><i class="fa fa-angle-double-down icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.6"></i></a>
      <h4 class="mt-2">
        Reach Out
      </h4>
      <p>We reach out to the community and the world bringing the Gospel of Christ to the dying and lost (Matt 28:19-20).</p>
    </div>
  </div>
</div>