<div id="" class="p-3 py-lg-6 bg-dark">
    <div class="container">
      <div id="services" class="nav-anchor"></div>
      <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
      <h2 class="text-white text-center text-uppercase font-weight-bold my-0">
        Service Times & Location
      </h2>
      <hr class="mb-5 w-50 mx-auto" />
      <div class="container pb-5 text-white">
        <div class="row">
          <div class="col-md-6">
            <!--@todo: replace with company contact details-->
            <h4 class="text-uppercase text-white title-divider">
              <span>
                Our Location
              </span>
            </h4>
            <address>
              <ul class="list-unstyled">
                <li>
                  <abbr title="Phone"><i class="fa fa-phone fa-fw"></i></abbr>
                  (360) 734-5228
                </li>
                <li>
                  <abbr title="Email"><i class="fa fa-envelope fa-fw"></i></abbr>
                  <a href="mailto:office@scbiblechurch.org">office@scbiblechurch.org</a>
                </li>
                <li>
                  <abbr title="Address"><i class="fa fa-home fa-fw"></i></abbr>
                  <a href="https://www.google.com/maps/place/Spring+Creek+Bible+Church/@48.7950742,-122.4743295,17z/data=!4m12!1m6!3m5!1s0x5485a46a4dcdcd2b:0x911994b1205c703!2sSpring+Creek+Bible+Church!8m2!3d48.7950707!4d-122.4721355!3m4!1s0x5485a46a4dcdcd2b:0x911994b1205c703!8m2!3d48.7950707!4d-122.4721355">567 E Kellogg Rd, Bellingham WA 98226</a>
                </li>
                <li>
                  <abbr title="Hours"></abbr><i class="fa fa-calendar fa-fw"></i></abbr>
                  Office Hours: 9:00-5:00 (Tues-Fri)
                </li>
              </ul>
            </address>

            <h4 class="text-uppercase text-white title-divider">
              <span>
                Service Times
              </span>
            </h4>
            <ul class="list-unstyled">
              <li>
                Discipleship Hour: 9:15 AM
              </li>
              <li>
                <b>Worship Service: 10:30 AM</b>
              </li>
              <li>
                Family Life Service (4th Sunday of each month): 6:00 PM
              </li>
            </ul>
          </div>
          
          <div class="col-md-6">
            <h4 class="text-uppercase text-white title-divider">
              <span>
                Map
              </span>
            </h4>
            <div style="overflow:hidden; padding-bottom:56.25%; position:relative; height:0;">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2628.309351127736!2d-122.47432954857396!3d48.79507421301493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5485a46a4dcdcd2b%3A0x911994b1205c703!2sSpring+Creek+Bible+Church!5e0!3m2!1sen!2sus!4v1516303963593" width="400" height="300" frameborder="0" style="left: 0; top: 0; height: 100%; width: 100%; position: absolute" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>